body {
  margin: 0; font-family: Arial, sans-serif; background: #f5f5f5;
}

.navbar {
  background: #0a2239; color: white; padding: 20px;
  display: flex; justify-content: space-between; align-items: center;
}

.navbar a {
  color: white; text-decoration: none; margin-left: 20px;
}

.hero {
  background: #16425b; color: white; padding: 80px 20px; text-align: center;
}

section {
  padding: 40px; background: white; margin: 20px; border-radius: 10px;
}

.btn {
  display: inline-block; padding: 10px 20px; background: #1d3557; color: white;
  text-decoration: none; border-radius: 5px; margin-top: 15px;
}

footer {
  text-align: center; padding: 20px; background: #0a2239; color: #fff;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.small-hero {
  padding: 50px 20px;
  background: #1b263b;
  text-align: center;
  color: white;
}

.product-card {
  padding: 30px;
  background: white;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 12px;
  border-left: 6px solid #1d3557;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.contact-section {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background: #1d3557;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button:hover {
  background: #0a2239;
}
.order-section {
  text-align: center;
  padding: 40px 20px;
  background: #f5f5f5;
  border-top: 2px solid #ddd;
  margin-top: 40px;
}

.order-section h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.order-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #0077cc;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.order-btn:hover {
  background: #005fa3;
  transform: scale(1.05);
}
.whatsapp-btn {
    display: inline-block;
    background-color: #25D366; /* WhatsApp Green */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 15px;
    transition: 0.3s;
}
.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.whatsapp-icon {
  width: 22px;
  height: 22px;
}
.button-center {
  display: flex;
  flex-direction: column;   /* buttons one below the other */
  align-items: center;      /* horizontal centering */
  gap: 15px;
  margin-top: 30px;
}


.whatsapp-btn:hover {
    background-color: #1da851;
}
